@model Friend
<h1>Profile page for Friend  #@Model.FriendId</h1>
<hr>
<h5><strong>Name</strong>: @Model.Name</h5>
<h5><strong>Location</strong>: @Model.Location</h5>
<h5><strong>DOB</strong>: @Model.DOB.ToString("d")</h5>
<h5><strong>Date Added</strong>: @Model.CreatedAt.ToString("d")</h5>
